<plugin name='httc-taxonomy' version='2.0.5-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc taxonomy plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/httc-taxonomy</documentation>
  <type>HttcTaxonomyGrailsPlugin</type>
  <resources>
    <resource>HttcTaxonomyUrlMappings</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomiesController</resource>
    <resource>de.httc.plugins.taxonomy.Taxonomy</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomyNode</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomyTerm</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomyService</resource>
  </resources>
</plugin>