<plugin name='taxonomy' version='1.0.0-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Your name</author>
  <title>Taxonomy Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/taxonomy</documentation>
  <type>TaxonomyGrailsPlugin</type>
  <resources>
    <resource>de.httc.plugins.taxonomy.TaxonomiesController</resource>
    <resource>de.httc.plugins.taxonomy.admin.TaxonomiesController</resource>
    <resource>de.httc.plugins.taxonomy.Taxonomy</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomyTerm</resource>
    <resource>de.httc.plugins.taxonomy.TaxonomyService</resource>
  </resources>
</plugin>