<plugin name='httc-competence' version='2.0.3-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc competence plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/competence</documentation>
  <type>HttcCompetenceGrailsPlugin</type>
  <resources>
    <resource>HttcCompetenceDefaultConfig</resource>
    <resource>de.httc.plugins.competence.admin.CompetencesController</resource>
    <resource>de.httc.plugins.competence.Competence</resource>
    <resource>de.httc.plugins.competence.CompetenceService</resource>
    <resource>de.httc.plugins.competence.ExpertService</resource>
  </resources>
</plugin>