<plugin name='httc-repository' version='2.0.6-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc repository plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/httc-repository</documentation>
  <type>HttcRepositoryGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>HttcRepositoryDefaultConfig</resource>
    <resource>HttcRepositoryUrlMappings</resource>
    <resource>de.httc.plugins.repository.AssetController</resource>
    <resource>de.httc.plugins.repository.admin.AssetController</resource>
    <resource>de.httc.plugins.repository.Asset</resource>
    <resource>de.httc.plugins.repository.AssetContent</resource>
    <resource>de.httc.plugins.repository.RepositoryService</resource>
  </resources>
</plugin>