<plugin name='qaa' version='2.0.0-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <title>Question and Answer Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <type>QAAGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>QAADefaultConfig</resource>
    <resource>de.httc.plugins.qaa.QuestionController</resource>
    <resource>de.httc.plugins.qaa.Answer</resource>
    <resource>de.httc.plugins.qaa.Comment</resource>
    <resource>de.httc.plugins.qaa.Metadata</resource>
    <resource>de.httc.plugins.qaa.Question</resource>
  </resources>
</plugin>