<plugin name='httc-competence-inference' version='2.0.3-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc competence inference plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/httc-competence-inference</documentation>
  <type>HttcCompetenceInferenceGrailsPlugin</type>
  <resources>
    <resource>de.httc.plugins.competence.Interaction</resource>
    <resource>de.httc.plugins.competence.CompetenceInferenceService</resource>
  </resources>
</plugin>