<plugin name='httc-esa' version='2.0.0-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc ESA plugin</title>
  <description>Brief summary/description of the plugin.</description>
  <documentation>http://grails.org/plugin/httc-esa</documentation>
  <type>HttcEsaGrailsPlugin</type>
  <resources>
    <resource>de.httc.plugins.esa.EsaService</resource>
  </resources>
</plugin>