<plugin name='httc-push-notification' version='2.0.6-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc push notification plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <type>HttcPushNotificationGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>HttcPushNotificationBootStrap</resource>
    <resource>HttcPushNotificationDefaultConfig</resource>
    <resource>de.httc.plugins.pushNotification.PushTokenController</resource>
    <resource>de.httc.plugins.pushNotification.PushToken</resource>
    <resource>de.httc.plugins.pushNotification.PushNotificationService</resource>
  </resources>
</plugin>