<plugin name='httc-common' version='2.0.2-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Tittel</author>
  <authorEmail>stephan.tittel@httc.de</authorEmail>
  <title>httc common plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/httc-common</documentation>
  <type>HttcCommonGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>HttcCommonDefaultConfig</resource>
    <resource>de.httc.plugins.common.SettingsController</resource>
    <resource>de.httc.plugins.common.Setting</resource>
    <resource>de.httc.plugins.common.AuthService</resource>
    <resource>de.httc.plugins.common.HttcTagLib</resource>
  </resources>
</plugin>